img {
    height: auto;
    max-width: 54%;
}
.contact-us .single-info {
    background: steelblue;
    padding: 2px 60px;
    height: 169px;
    border-radius: 16px;
    // position: ;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}