<p>product works!</p>
<section>
    <div class="con">
        <h1 class="hero__title">Restaurant POS software made simple!</h1>
        <p class="hero_paragraph">Manages all your restaurant operations efficiently so that you can focus on growing your brand, like a real boss!</p>
        <div class="demo">
            <a href="#free-demo-form" class="btn btn__primary">Take a free demo</a>
        </div>
    </div> 
    <div class=".hero__pos_img img">
        <img src="https://www.petpooja.com/assets/images/home/Home-hero_lg.webp" alt="Image Description">
    </div>     
</section>
<section>
    <section>
        <div>
            <p class="trusted_paragh">Trusted by <b>55,000+ restaurants</b></p>
        </div>
    </section> 
<section>
    <div class="img_img">
        <img src="	https://www.petpooja.com/assets/images/Pizzeria/la-pinoz-pizza.webp" alt="">
        <img src="	https://www.petpooja.com/assets/images/QSR/Star-Biryani-Logo.webp" alt="">
        <img src="https://www.petpooja.com/assets/images/Food-Court-Canteen/jumbo-king.webp" alt="">
        <img src="https://www.petpooja.com/assets/images/fine-dine/Hocco.webp" alt="">
        <img src="https://www.petpooja.com/assets/images/Large-Chains/yam-yam-cha.webp" alt="">
        <img src="	https://www.petpooja.com/assets/images/Bar-Brewery/tgi-friday.webp" alt="">
        <img src="	https://www.petpooja.com/assets/images/Large-Chains/gianis.webp" alt="">
        <img src="https://www.petpooja.com/assets/images/Food-Court-Canteen/4.webp" alt="">
      </div>
    
</section>


</section>
<section>
<div >
    <span class="titel_tag"><b>Smart POS Features</b></span>
    <h2 class="titel_name">A restaurant POS made for all your needs</h2>
    <p class="titel_dec">A quick and easy-to-use restaurant billing software that makes managing high order volumes butter smooth</p>
    
</div>
</section>
<section>
<div class="container">
    <img src="https://www.petpooja.com/assets/images/billing-software_lg.webp" alt="">
    <h4 class="billing_titel">A quick 3-click restaurant <span>billing</span> software</h4><br>
    <p class="billing_details">Take orders, punch bills and generate KOT. Accept payments either by splitting bill or merging tables. Easily apply discounts and coupons. All of this, and more, is easy and quick with Petpooja's restaurant POS.</p>
    <a class="explore_link" href="">Explore all features <i class="explore_icon"></i></a>
    
</div>

</section>